<v-ons-page data-page="openassetsIssue" v-show="!$store.state.transparency">
    <custom-bar title="OpenAssetsIssue" menu="true">
      <!-- <v-ons-toolbar-button @click="qr">
        <v-ons-icon icon="ion-qr-scanner"></v-ons-icon>
      </v-ons-toolbar-button> -->
    </custom-bar>
    <div>
      <v-ons-list>
          <v-ons-list-header>UTXO LIST</v-ons-list-header>

        
        <div id="cards">
          <v-ons-list>
            <v-ons-list-item v-for="(utxo,index) in utxos" modifier="tappable" @click="didTapUtxo(index)">
              <v-ons-card>
                <div class="left">
                  address:{{utxo.address}}
                  amount:{{utxo.amount}}
                </div>
              </v-ons-card>
            </v-ons-list-item>
          </v-ons-list>
        </div>
      </v-ons-list>
      <v-ons-modal :visible="loading">
        <p style="text-align: center">
          トランザクションデータ作成中
          <br><br>
          <div class="spinner"></div>
          <br/>
          <v-ons-button modifier="quiet" @click="$emit('pop')">キャンセル</v-ons-button>
        </p>
      </v-ons-modal>
    </div>
  </v-ons-page>
  